# User Testing Report

User testing was conducted by Lisa Beaton on October 22, 2013, between the times of 8:00am and 11:00am with the following participants:

- Stephanie Cansfield
- Robyn Rutherford
- Mansura Chowdhury

## Tasks

1. Scroll through the photo carousel, find the external link, click it.  
2. Read intro "what is geology" on home page, and learn more information on the following linked page.
3. Find the Fun Facts Page

---

## Individual Results & Observations

### Stephanie Cansfield

- Found all information easily 
- Took a bit to find the external link
- Didn't seem to have any issues
- Found fun facts page through the nav bar


### Robyn Rutherford

- Found all info fast
- Found "Fun Facts" super fast
- Didn't seem to have any issues located any task
- Wants to click "Geologic" on all pages to access home page

### Mansura Chowdhury

- Had no problem finding info
- Easily found the "fun facts" page, also found the page from the home page.
- Had no issues finding the external link
- easily went through the website with no problems
---

## Trends

### Critical, Needs Fixing, Unable to Complete

- External link needs to be more prominent 
- Change colour of external link

### Serious, Causes Frustration, May Hinder Completion

- Have a link hooked up for "GeoLogic" logo to the home page as well

### Minor, Annoying, Won’t Hinder Completion

- Make sure all pages are linked