<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>default.html</title>
	<meta property="og:type" content="article">
	<meta property="og:title" content="GeoLogic - Rock Types">
	<meta property="og:url" content="http://geologic.com/rocktypes/article.html">
	<meta property="og:image" content="http://geologic.com/img/sed-slope.jpg"> <!--- Image size: minimum 200x200; preferred 1500x1500 -->
	<meta property="og:site_name" content="GeoLogic">
	<meta property="og:description" content="Cleavage? I have your attention, this is an intro the basics of Geology.">
	
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="GeoLogic - Basic Geology Information">
	<meta property="twitter:url" content="http://geologic.com/rocktypes/article.html">
	<meta property="twitter:image" content="http://geologic.com/img/sed-slope.jpg"> <!--- Image size: minimum 120x120 -->
	<meta property="twitter:description" content="Cleavage? I have your attention, this is an intro the basics of Geology.">
	
<ul class="skiplinks">
		<li><a href="#main">Skip to primary content</a></li> <!--add id's to the content-->
		<li><a href="#complementary">Skip to secondary content</a></li>
		<li><a href="#navigation">Skip to navigation</a></li>
	</ul>

    <div  role="navigation" id="navigation" class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="index.html" rel="home">GeoLogic</a> <!--added rel="home"-->
          <div class="nav-collapse">
            <ul class="nav">
              <li class="active"><a href="index.html" rel="home">Home</a></li>  <!--added rel="home"-->
              <li><a href="about.html">All About Geology</a></li>
			  <li><a href="rocks.html">Types of Rocks</a></li>
              <li><a href="mineralsandgemstones.html">Minerals and Gemstones</a></li>
			  <li><a href="fossils.html">Fossils</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                      GeoExtras
                      <b class="caret"></b>
                </a>
                <ul class="dropdown-menu">
                  <li><a href="gallery.html">Rock Gallery</a></li>
				   <li><a href="gem-gallery.html">Gemstone Gallery</a></li>
                  <li><a href="funfacts.html">Fun Facts</a></li>
                </ul>
              </li><!-- dropdown -->
            </ul><!-- /.nav -->
          </div><!--/.nav-collapse -->
        </div><!-- /.container -->
      </div><!-- /.navbar-inner -->
    </div><!-- /.navbar -->

</head>

<body>

{{content}}
	


</body>
</html>
