<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Untitled Document</title>
	<meta property="og:type" content="article">
	<meta property="og:title" content="GeoLogic - Rock Types">
	<meta property="og:url" content="http://geologic.com/rocktypes/article.html">
	<meta property="og:image" content="http://geologic.com/img/thing.jpg"> <!--- Image size: minimum 200x200; preferred 1500x1500 -->
	<meta property="og:site_name" content="GeoLogic">
	<meta property="og:description" content="Cleavage? I have your attention, this is an intro the basics of Geology.">
	
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="GeoLogic - Basic Geology Information">
	<meta property="twitter:url" content="http://geologic.com/rocktypes/article.html">
	<meta property="twitter:image" content="http://geologic.com/img/thing.jpg"> <!--- Image size: minimum 120x120 -->
	<meta property="twitter:description" content="Cleavage? I have your attention, this is an intro the basics of Geology.">

</head>

<body>

	


</body>
</html>
