<!doctype html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8">
    <title>GeoLogic - {{page.title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="David Cochran for webdesign.tutsplus.com">
<meta name="handheldfriendly" content="true">
<meta name="mobileoptimized" content="240">
<meta name="viewport" content="width=device-width,initial-scale=1">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
<script src="js/modernizr.js"></script>

	<meta charset="UTF-8">
	<title>default.html</title>
	<meta property="og:type" content="article">
	<meta property="og:title" content="GeoLogic - Rock Types">
	<meta property="og:url" content="http://geologic.com/rocktypes/article.html">
	<meta property="og:image" content="http://geologic.com/img/sed-slope.jpg"> <!--- Image size: minimum 200x200; preferred 1500x1500 -->
	<meta property="og:site_name" content="GeoLogic">
	<meta property="og:description" content="Cleavage? I have your attention, this is an intro the basics of Geology.">
	
	<meta property="twitter:card" content="summary">
	<meta property="twitter:title" content="GeoLogic - Basic Geology Information">
	<meta property="twitter:url" content="http://geologic.com/rocktypes/article.html">
	<meta property="twitter:image" content="http://geologic.com/img/sed-slope.jpg"> <!--- Image size: minimum 120x120 -->
	<meta property="twitter:description" content="Cleavage? I have your attention, this is an intro the basics of Geology.">
	
</head>

<body>

	<header>
		<ul class="skiplinks">
				<li><a href="#main">Skip to primary content</a></li> <!--add id's to the content-->
				<li><a href="#complementary">Skip to secondary content</a></li>
				<li><a href="#navigation">Skip to navigation</a></li>
			</ul>
		
			<div  role="navigation" id="navigation" class="navbar navbar-fixed-top">
			  <div class="navbar-inner">
				<div class="container">
				  <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </a>
				  <a class="brand" href="index.html" rel="home">GeoLogic</a> <!--added rel="home"-->
				  <div class="nav-collapse">
					<ul class="nav">
					  <li class="active"><a href="index.html" rel="home">Home</a></li>  <!--added rel="home"-->
					  <li><a href="about.html">All About Geology</a></li>
					  <li><a href="rocks.html">Types of Rocks</a></li>
					  <li><a href="mineralsandgemstones.html">Minerals and Gemstones</a></li>
					  <li><a href="fossils.html">Fossils</a></li>
					  <li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							  GeoExtras
							  <b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
						  <li><a href="gallery.html">Rock Gallery</a></li>
						   <li><a href="gem-gallery.html">Gemstone Gallery</a></li>
						  <li><a href="funfacts.html">Fun Facts</a></li>
						</ul>
					  </li><!-- dropdown -->
					</ul><!-- /.nav -->
				  </div><!--/.nav-collapse -->
				</div><!-- /.container -->
			  </div><!-- /.navbar-inner -->
			</div><!-- /.navbar -->
		
	</header>

{{content}}
	
	<hr>
	
	      <footer role="contentinfo">
        <p>&#169; 2013 Lisa Beaton. All Rights Reserved. <!--By <a href="http://twitter.com/davidcochran">David Cochran</a> of <a href="http://alittlecode.com/">aLittleCode.com</a> for <a href="http://webdesign.tutsplus.com/">webdesign.tutsplus.com</a></p>-->
      </footer>

    <!-- Le javascript
    ================================================== -->
    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if necessary -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="js/jquery-1.7.2.min.js"><\/script>')</script>
    <!-- Bootstrap jQuery plugins compiled and minified -->
    <script src="js/bootstrap.min.js"></script>
    <script>
      $(document).ready(function(){
        $('.carousel').carousel({
          interval: 4000
        });
      });
    </script>
	
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46002168-1', 'beat0090.github.io');
  ga('send', 'pageview');

</script>
</body>
</html>
